
.mobile-navbar-row-even {
  padding: 30px;
  text-align: center;
}

.mobile-navbar-row-odd {
  padding: 30px;
  text-align: center;
}

.mobile-navbar-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

.mobile-navbar-button-selected {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: rgb(255, 174, 53);
}

.mobile-navbar-button:hover {
  color: rgb(255, 174, 53);
}

.mobile-navbar-margin-bottom {
  padding: 20px;
}

.a1 {
    height: 230px;
    width: 100%;
    background-color: #f1f0ed;
    display: flex;
    justify-content: flex-end;
  }

  .appbar-content {
    display: flex;
    align-self: center;
    margin-right: 5vw;
  }
  
  .appbar-logo-container {
    width: 150px;
    height: 150px;
    margin-right: auto;
    align-self: center;
    margin-left: 40px;
  }

  .appbar-logo-text {
    font-size: 33px;
    display: grid;
    margin-right: auto;
    margin-top: 60px;
  }

  .appbar-logo {
    width: 100%;
    height: 100%;
    background-image: url('../../img/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: roll;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    float: left;
  }
  
  .appbar-button {
    color:rgb(0, 0, 0);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 20px;
    padding: 5px;
  }

  .appbar-button-selected {
    color:rgb(0, 0, 0);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 20px;
    padding: 5px;
    color: rgb(255, 174, 53);
  }

  .appbar-button:hover {
    color: rgb(255, 174, 53);
  }

  .btn {
    display:none;
  }

  .cancel-btn {
    margin-left: auto;
    display: block;
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
    background-color: #f1f0ed;
    border: none;
    color: rgb(17, 17, 17);
    padding: 10px 10px;
    font-size: 40px;
    cursor: pointer;
  }

  /* Darker background on mouse-over */
  .cancel-btn:hover {
    color: rgb(255, 174, 53);
  }

  @media (width <= 1000px) and (width > 600px) {
    .appbar-button {
      display:none;
    }

    .appbar-content {
      margin-right: 5px;
    }

    .appbar-logo-container {
      background-color: #f1f0ed;
      width: 120px;
      height: 120px;
      margin-left: 0px;
      margin-bottom: auto;
      margin-right: auto;
    }

    .appbar-logo {
      float:left;
    }

    .appbar-logo-text {
      font-size: 35px;
      display: grid;
      margin-right: auto;
      margin-top: 40px;
    }

    .a1 {
      height: 200px;
      width: 100%;
      background-color: #f1f0ed;
      display: flex;
      justify-content: flex-end;
    }

    /* Style buttons */
  .btn {
    margin-left: auto;
    margin-top: 38px;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #f1f0ed;
    border: none;
    color: rgb(17, 17, 17);
    padding: 10px 10px;
    font-size: 40px;
    cursor: pointer;
  }

  /* Darker background on mouse-over */
  .btn:hover {
    color: rgb(255, 174, 53);
  }

  .cancel-btn {
    margin-top: 38px;
    margin-right: 20px;
  }
  }

  @keyframes roll {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(0deg); }
    28% { transform: rotate(8deg); }
    40% { transform: rotate(-8deg); }
    48% { transform: rotate(8deg); }
    57% { transform: rotate(-8deg); }
    63% { transform: rotate(8deg); }
    69% { transform: rotate(-8deg); }
    73% { transform: rotate(8deg); }
    75% { transform: rotate(-8deg); }
    77% { transform: rotate(8deg); }
    79% { transform: rotate(-8deg); }
    80% { transform: rotate(8deg); }
    81% { transform: rotate(-8deg); }
    84% { transform: rotate(365deg); }
    88% { transform: rotate(355deg); }
    100% { transform: rotate(360deg); }
  }


  @media (width <= 600px) {
    .appbar-button {
      display:none;
    }

    .appbar-content {
      margin-right: 5px;
    }

    .appbar-logo-container {
      background-color: #f1f0ed;
      width: 80px;
      height: 80px;
      margin-left: 0px;
      margin-bottom: auto;
      margin-right: auto;
    }

    .appbar-logo {
      float:left;
    }

    .appbar-logo-text {
      font-size: 30px;
      display: grid;
      margin-right: auto;
      margin-top: 25px;
    }

    .a1 {
      height: 200px;
      width: 100%;
      background-color: #f1f0ed;
      display: flex;
      justify-content: flex-end;
    }

    /* Style buttons */
  .btn {
    margin-left: auto;
    margin-top: 17px;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #f1f0ed;
    border: none;
    color: rgb(17, 17, 17);
    padding: 10px 10px;
    font-size: 40px;
    cursor: pointer;
  }

  /* Darker background on mouse-over */
  .btn:hover {
    color: rgb(255, 174, 53);
  }

  .cancel-btn {
    margin-top: 17px;
    margin-right: 20px;
  }
  }

  @media (width <= 600px) {
    .appbar-button {
      display:none;
    }

    .appbar-content {
      margin-right: 5px;
    }

    .appbar-logo-container {
      background-color: #f1f0ed;
      margin-top: 100px;
      width: 90px;
      height: 90px;
      margin-left: 0px;
      margin-bottom: auto;
      margin-right: auto;
    }

    .appbar-logo {
      float:left;
    }

    .appbar-logo-text {
      font-size:26px;
      display: grid;
      margin-right: auto;
      margin-top: 30px;
    }

    .a1 {
      height: 200px;
      width: 100%;
      background-color: #f1f0ed;
      display: flex;
      justify-content: flex-end;
    }

    /* Style buttons */
  .btn {
    margin-left: auto;
    margin-top: 10px;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #f1f0ed;
    border: none;
    color: rgb(17, 17, 17);
    padding: 10px 10px;
    font-size: 40px;
    cursor: pointer;
  }

  /* Darker background on mouse-over */
  .btn:hover {
    color: rgb(255, 174, 53);
  }

  .cancel-btn {
    margin-top: 10px;
    margin-right: 20px;
  }
  }