

.news-page {
    width: 100%;
    background-color: #f1f0ed;
    padding-bottom: 50px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.news-element {
    width: 70%;
    height: auto;
    background-color: #f1f0ed;
    margin: auto;
    margin-top: 100px;
    border: solid;
    border-width: 1px;
    border-color: rgb(218, 218, 218);
}

.news-element-title {
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 35px;
    color: rgb(20, 20, 20);
}

.news-element-text {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    font-size: 17px;
    color: rgb(20, 20, 20);
    text-align: justify;
}

.news-element-date {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    font-size: 18px;
    color: rgb(20, 20, 20);
}

.news-element-images{
    width: 100%;
    height: 300px;
    display: flex;
}

.news-element-image {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.news-element-second-image {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@media (width <= 1000px) and (width > 800px) {
    .news-element {
        width: 100%;
    }
}


@media (width <= 800px) {
    .news-element {
        width: 100%;
    }

    .news-element-second-image {
        display:none;
    }

    .news-element-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .news-element-title {
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 4%;
        font-size: 25px;
        color: rgb(20, 20, 20);
    }
    
    .news-element-text {
        padding-top: 3%;
        padding-left: 4%;
        padding-right: 4%;
        padding-bottom: 3%;
        font-size: 16px;
    }
    
    .news-element-date {
        padding-left: 4%;
        padding-right: 4%;
        padding-bottom: 3%;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
  }