.notfound {
    font-size: large;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 500px;
}

.ourdogs-page {
    width: 100%;
}

.ourdogs-togglebuttons {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 200px;
    justify-content: center;
}

.ourdogs-togglebutton {
    border: solid;
    border-width: 1px;
    border-color: rgb(187, 187, 187);
    background-color: Transparent;
    font-size: 18px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.ourdogs-togglebutton:hover {
    background-color: rgb(255, 191, 96);
}

.ourdogs-togglebutton-selected {
    border: solid;
    border-width: 1px;
    border-color: rgb(37, 37, 37);
    font-size: 18px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(255, 174, 53);
}

.ourdogs-column {
    float: left;
    width: 100%;
}

.ourdogs-column:after {
    content: "";
    display: table;
    clear: both;
}

.ourdogs-dogcard {
    border: solid;
    border-width: 1px;
    border-color: rgb(216, 216, 216);
    width:60%;
    height:100%;
    margin-left: 17%;
    margin-bottom: 50px;
    padding: 30px;
}

.ourdogs-dogcard-image-container {
    width:100%;
    height:100%;
    grid-area: ourdogs-dogcard-image-container;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ourdogs-dogcard-text-container {
    width:100%;
    height:100%;
    grid-area: ourdogs-dogcard-text-container;
}

.ourdogs-dogcard-title {
    width: 100%;
    height: 100%;
    grid-area: ourdogs-dogcard-title;
    display: flex;
}

.ourdogs-dogcard-grid {
    display: grid;
    column-gap: 3%;
    grid-template-columns: 27% 27% 40%;
    grid-template-rows: 60px 80px 100px 100px;
    grid-template-areas: 
        "ourdogs-dogcard-title ourdogs-dogcard-title ourdogs-dogcard-image-container"
        "ourdogs-dogcard-text-container ourdogs-dogcard-text-container ourdogs-dogcard-image-container"
        "ourdogs-dogcard-text-container ourdogs-dogcard-text-container ourdogs-dogcard-image-container"
        "ourdogs-dogcard-text-container ourdogs-dogcard-text-container .";
}

.ourdogs-dogcard-text {
    margin-top: 10px;
    text-align: justify;
    width:100%;
    height:100%;
}

.ourdogs-dogname {
    font-size: 30px;
}

.ourdogs-doggender {
    margin-top: 16px;
    margin-left: 15px;
    font-size: 16px;
}

.ourdogs-dogage {
    margin-top: 16px;
    margin-left: 3px;
    font-size: 16px;
}

@media  (width <= 1200px) and (width > 700px) {
    .ourdogs-dogcard {
        width:90%;
        height:100%;
        margin-left: 1%;
        margin-bottom: 50px;
        padding: 30px;
    }
  }

  @media  (width <= 700px) and (width > 400px) {
    .ourdogs-togglebuttons {
        margin-top: 50px;
        margin-left: 2%;
        height: 100px;
    }

    .ourdogs-dogcard-image-container {
        margin-top: 30px;
    }

    .ourdogs-dogcard {
        width:90%;
        height:100%;
        margin-left: 0;
        margin-bottom: 50px;
        padding: 30px;
    }

    .ourdogs-dogcard-grid {
        display: grid;
        column-gap: 3%;
        grid-template-columns: 27% 24% 42%;
        grid-template-rows: 60px auto auto 300px;
        grid-template-areas: 
            "ourdogs-dogcard-title ourdogs-dogcard-title ."
            "ourdogs-dogcard-text-container ourdogs-dogcard-text-container ourdogs-dogcard-text-container"
            "ourdogs-dogcard-text-container ourdogs-dogcard-text-container ourdogs-dogcard-text-container"
            "ourdogs-dogcard-image-container ourdogs-dogcard-image-container ourdogs-dogcard-image-container";
    }

    .ourdogs-togglebutton {
        width: 120px;
        height: 50px;
    }

    .ourdogs-togglebutton-selected {
        width: 120px;
        height: 50px;
    }

    .ourdogs-togglebuttons {
        height: 100px;
    }
    
  }

  @media  (width <= 400px) {
    .ourdogs-togglebuttons {
        margin-top: 50px;
        margin-left: 5%;
        height: 100px;
    }

    .ourdogs-dogcard-image-container {
        margin-top: 30px;
    }

    .ourdogs-dogcard {
        width:90%;
        height:100%;
        margin-left: 0;
        margin-bottom: 50px;
        padding: 30px;
    }

    .ourdogs-dogcard-grid {
        display: grid;
        column-gap: 3%;
        grid-template-columns: 27% 24% 42%;
        grid-template-rows: 60px auto auto 150px;
        grid-template-areas: 
            "ourdogs-dogcard-title ourdogs-dogcard-title ."
            "ourdogs-dogcard-text-container ourdogs-dogcard-text-container ourdogs-dogcard-text-container"
            "ourdogs-dogcard-text-container ourdogs-dogcard-text-container ourdogs-dogcard-text-container"
            "ourdogs-dogcard-image-container ourdogs-dogcard-image-container ourdogs-dogcard-image-container";
    }

    .ourdogs-togglebutton {
        width: auto;
        height: 40px;
    }

    .ourdogs-togglebutton-selected {
        width: auto;
        height: 40px;
    }
  }