.footer {
    margin-top: 50px;
    width:100%;
    height: 120px;
    background-color: #e9eaec;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    font-size: 19px;
}