.grid-container {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: #f1f0ed;
    display: grid;
    row-gap: 100px;
    grid-template-columns: 27% 23% 20% 30%;
    grid-template-rows: 500px auto;
    grid-template-areas: 
      "two two twelve twelve"
      "eight nine nine nine"
  }
  
  .a2 {
    grid-area: two;
    height: 100%;
    background: linear-gradient(90deg, #f1f0ed, #e9eaec);
    display: flex;
    justify-content: flex-end;
  }
  
  .a8 {
    grid-area: eight;
    height: 100%;
    background-color: #f1f0ed;
  }
  
  .a9 {
    grid-area: nine;
    height: 100%;
    background-color: #f1f0ed;
  }
  
  .a12 {
    grid-area: twelve;
    height: 100%;
    width: 100%;
    background-color: #f1f0ed;
  }
  
  .a2-content {
    height: 100%;
    width: 100%;
  }
  
  .a2-content-title {
    color: rgb(36, 37, 36);
    margin-top: 100px;
    margin-right: 10%;
    font-size: 40px;
    text-align: center;
  }
  
  .a2-content-text {
    color: rgb(36, 37, 36);
    font-size: 22px;
    text-align: center;
  }

  .a8-content {
    height: 100%;
    width: 100%;
  }

  .a8-product {
    height: 30%;
    width: 93%;
    margin-top: 15px;
    margin-left: 3.5%;
    background-color: #FAF6F2;
  }

  .a8-text {
    color:#ffffff;
    font-size: 30px;
    text-shadow: 0px 0px 10px rgb(37, 37, 37), 0px 0px 10px rgb(37, 37, 37);
  }

  .a8-image-button{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .2s;
    cursor:pointer;
    border:none;
    width:100%;
    height:100%;
  }

  .a8-image-button:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .a9-content {
    height: 100%;
    width: 100%;
  }

  .a9-title {
    font-size: 40px;
    color: rgb(36, 37, 36);
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 4%;
  }

  .a9-text {
    font-size: 17px;
    color: rgb(36, 37, 36);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    text-align: justify;
  }

  .a12-wrapper {
    width: 100%;
    height: 100%;
    background-image: url('../../img/mainimage2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (width <= 1400px) and (width > 1000px) {
    .grid-container {
      background-color: #f1f0ed;
      display: grid;
      row-gap: 70px;
      grid-template-columns: 33.3333% 33.3333% 33.3333%;
      grid-template-rows: 450px auto;
      grid-template-areas: 
        "two twelve twelve"
        "eight nine nine"
    }

    .a9-title {
      font-size: 35px;
    }
  
    .a9-text {
      font-size: 16px;
    }
  }

  @media  (width <= 1000px) and (width > 800px) {
    .grid-container {
      background-color: #f1f0ed;
      display: grid;
      row-gap: 30px;
      grid-template-columns: 50% 50%;
      grid-template-rows: 450px auto auto;
      grid-template-areas: 
        "twelve twelve"
        "nine nine"
        "eight eight"
    }

    .a2 {
      display: none;
    }

    .a8-content {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
    }

    .a8-product {
      height: 150px;
      width: 30%;
      padding-top: 0;
      margin-left: 2%;
      background-color: #FAF6F2;
    }

    .a9-title {
      font-size: 35px;
    }
  
    .a9-text {
      font-size: 16px;
    }
  }

  @media  (width <= 800px) and (width > 500px) {
    .grid-container {
      background-color: #f1f0ed;
      display: grid;
      row-gap: 30px;
      grid-template-columns: 100%;
      grid-template-rows: 340px auto auto;
      grid-template-areas: 
        "twelve"
        "nine"
        "eight"
    }

    .a2 {
      display: none;
    }

    .a8-content {
      height: 100%;
      width: 100%;
    }

    .a8-product {
      height: 150px;
      width:80%;
      padding-top: 0;
      margin-left: 10%;
      background-color: #FAF6F2;
    }

    .a9-title {
      font-size: 32px;
    }
  
    .a9-text {
      font-size: 16px;
    }
  }

  @media  (width <= 500px) and (width > 350px) {
    .grid-container {
      background-color: #f1f0ed;
      display: grid;
      row-gap: 30px;
      grid-template-columns: 100%;
      grid-template-rows: 230px auto auto;
      grid-template-areas: 
        "twelve"
        "nine"
        "eight"
    }

    .a9-title {
      font-size: 27px;
    }
  
    .a9-text {
      font-size: 16px;
    }

    .a2 {
      display: none;
    }
  }

  @media  (width <= 350px) {
    .grid-container {
      background-color: #f1f0ed;
      display: grid;
      row-gap: 30px;
      grid-template-columns: 100%;
      grid-template-rows: 170px auto auto;
      grid-template-areas: 
        "twelve"
        "nine"
        "eight"
    }

    .a9-title {
      font-size: 25px;
    }
  
    .a9-text {
      font-size: 16px;
    }

    .a2 {
      display: none;
    }
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
  }